@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/green";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    background: var(--inverted-bg-color);
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    overflow-y: auto;
    margin: 0.5rem;
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 4px;
}
