.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    .title {
        font: var(--font-s);
        font-weight: bold;
    }

    .text {
        font: var(--font-s);
        font-weight: normal;
    }
}

.size_m {
    .title {
        font: var(--font-l);
        font-weight: bold;
    }

    .text {
        font: var(--font-m);
        font-weight: normal;
    }
}

.size_l {
    .title {
        font: var(--font-xl);
        font-weight: bold;
    }

    .text {
        font: var(--font-l);
        font-weight: normal;
    }
}
