.app.dark {
  --bg-color: #2C3333;
  --inverted-bg-color: #FAF8F1;

  --controllers-color: #FAEAB1;

  --primary-color: #A5C9CA;
  --secondary-color: #E7F6F2;
  --inverted-primary-color: #C58940;
  --inverted-secondary-color: #E5BA73;
}