.app_green_theme {
    --bg-color: #2aae99;
    --inverted-bg-color: #edf8f6;
    --controllers-color: #228c3c;
    --primary-color: #d1e5e0;
    --secondary-color: #b0cec5;
    --inverted-primary-color: #2aae99;
    --inverted-secondary-color: #2aae99;

    // skeleton
    --skeleton-color: #2ec4ad;
    --skeleton-shadow: #3ad9c0;

    // code
    --code-bg: #439386;

    // card
    --card-bg: #edf8f6;
    --card-color: #2aae99;

    // list-box
    --listbox-bg: #edf8f6;
    --listbox-color: #2aae99;

    // dropdown
    --dropdown-bg: #edf8f6;
    --dropdown-color: #2aae99;
    --dropdown-active-bg: #2aae99;
    --dropdown-active-color: #edf8f6;
}
