.app_green_theme {
    --bg-color: #2aae99;
    --inverted-bg-color: #edf8f6;
    --controllers-color: #228c3c;
    --primary-color: #edf8f6;
    --secondary-color: #228c3c;
    --inverted-primary-color: #2aae99;
    --inverted-secondary-color: #2aae99;
}
