.app.light {
  --bg-color: #FAF8F1;
  --inverted-bg-color: #2C3333;

  --controllers-color: #395B64;

  --primary-color: #C58940;
  --secondary-color: #E5BA73;
  --inverted-primary-color: #A5C9CA;
  --inverted-secondary-color: #E7F6F2;
}