:root {
    --bg-color: #faf8f1;
    --inverted-bg-color: #2c3333;
    --controllers-color: #395b64;
    --primary-color: #c58940;
    --secondary-color: #e5ba73;
    --inverted-primary-color: #a5c9ca;
    --inverted-secondary-color: #e7f6f2;
}
