:root {
    --bg-color: #faf8f1;
    --inverted-bg-color: #2c3333;
    --controllers-color: #395b64;
    --primary-color: #c58940;
    --secondary-color: #e5ba73;
    --inverted-primary-color: #a5c9ca;
    --inverted-secondary-color: #e7f6f2;

    // skeleton
    --skeleton-color: #a5c9ca;
    --skeleton-shadow: #bfe9ea;

    // code
    --code-bg: #e8e5e1;

    // card
    --card-bg: #2c3333;
    --card-color: #e7f6f2;
}
