.profile_card {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 4px;
}

.input {
    margin-top: 10px;
}

.select {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
