.profile_card {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 4px;
}

.select {
    margin-top: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
